
<head>
        <link rel="stylesheet" type="text/css" href="style.css" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="script.js"></script>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    </head>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #40a9ff;">
  <a class="navbar-brand" href="logo.png"></a>
  <img src="logo.png" alt="">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>
  <button href="login.html" type="button" class="btn btn-warning">Login</button>
  </div>
</nav>
    </header>

<body>

<div class ="content">


<div class="sudoku">

  <table>
    <form action="">
  <tr>
      <td>
 <input type="text" step="1" min="1" max="9" size="2" type ="text" name = "11" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type="text" step="1" min="1" max="9" type ="text" name = "12" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type="text" step="1" min="1" max="9" type ="text" name = "13" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input type="text" step="1" min="1" max="9" size="2" type ="text" name = "14" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "15" type="number" step="1" min="1" max="9" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "16" onfocus = "Change(this)" type="number" step="1" min="1" max="9" onblur = "After(this)">
 </td>
 <td>
 <input type="text" step="1" min="1" max="9" size="2" type ="text" name = "17" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input type="text" step="1" min="1" max="9" size="2" type ="text" name = "18" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input type="text" step="1" min="1" max="9" size="2" type ="text" name = "19" onfocus = "Change(this)" onblur = "After(this)">
 </td>
  </tr>
  <tr>
      <td>
 <input size="2" type ="text" name = "21" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "22" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "23" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "24" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "25" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "26" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "27" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "28" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "29" onfocus = "Change(this)" onblur = "After(this)">
 </td>
  </tr>
  <tr>
      <td>
 <input size="2" type ="text" name = "31" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "32" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "33" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "34" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "35" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "36" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "37" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "38" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "39" onfocus = "Change(this)" onblur = "After(this)">
 </td>
  </tr>
  <tr>
      <td>
 <input size="2" type ="text" name = "41" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "42" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "43" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "44" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "45" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "46" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "47" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "48" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "49" onfocus = "Change(this)" onblur = "After(this)">
 </td>
  </tr>
  <tr>
      <td>
 <input size="2" type ="text" name = "51" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "52" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "53" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "54" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "55" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "56" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "57" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "58" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "59" onfocus = "Change(this)" onblur = "After(this)">
 </td>
  </tr>
  <tr>
      <td>
 <input size="2" type ="text" name = "61" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "62" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "63" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "64" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "65" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "66" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "67" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "68" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "69" onfocus = "Change(this)" onblur = "After(this)">
 </td>
  </tr>
  <tr>
      <td>
 <input size="2" type ="text" name = "71" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "72" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "73" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "74" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "75" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "76" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "77" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "78" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "79" onfocus = "Change(this)" onblur = "After(this)">
 </td>
  </tr>
  <tr>
      <td>
 <input size="2" type ="text" name = "81" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "82" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "83" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "84" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "85" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "86" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "87" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "88" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "89" onfocus = "Change(this)" onblur = "After(this)">
 </td>
  </tr>
  <tr>
      <td>
 <input size="2" type ="text" name = "91" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "92" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "93" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "94" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "95" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "96" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "97" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "98" onfocus = "Change(this)" onblur = "After(this)">
 </td>
 <td>
 <input size="2" type ="text" name = "99" onfocus = "Change(this)" onblur = "After(this)">
 </td>
  </tr>
    </form>
  </table>
</div>
<div class="btn">
<a href="#" class="w3-button w3-yellow">Solve sudoku</a>
</div>
 </div>
</body>
<footer>
</footer>
